<%- include('_head'); %>

<div class="image-container">
    <% memes.forEach(function(meme){ %>
    <div class="image-item">
        <div><span class="image-key"><%= meme.key %></span></div>
        <img src="<%= meme.url %>" alt="<%= meme.key %>" title="<%= meme.name %>" loading="lazy" />
    </div>
    <% }); %>
</div>

<%- include('_foot'); %>
